.contacto-page {
    padding: 40px 20px;
    max-width: 1200px; 
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
}

.contacto-page h1 {
    color: #2c3e50;
    margin-bottom: 30px;
    font-size: 2.5em;
}

.contacto-intro{
    margin: 1rem;
}

.contact-form {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left; 
}


.form-main-layout {
    display: grid; 
    grid-template-columns: 2fr 3fr; 
    gap: 30px; 
    margin-bottom: 20px;
}

.form-left-column {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}


.consulta-field {
    grid-column: 2; 
}


.form-group-row {
    display: flex;
    gap: 20px;
}

.form-field {
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.form-group-row .form-field {
    flex: 1;
}

.form-left-column .full-width {
    width: 100%;
    padding: 0.8rem 0rem;
}

.labels{
    margin-bottom: 8px;
    font-weight: bold;
}

.form-field textarea {
    resize: vertical;
    height: 100%; 
    min-height: 250px; 
    width: 80%;
    padding: 12px;
    font-size: 1.2rem;
}

.form-field input {
    padding: 12px;
    width: 100%;
    font-size: 1rem;
}

.form-field input,
.form-field textarea {
    border: 1px solid #bdc3c7; 
    border-radius: 10px; 
    transition: border-color 0.3s;
}

.form-field input:focus,
.form-field textarea:focus {
    border-color: #3498db;
    outline: none;
    box-shadow: 0 0 3px rgba(52, 152, 219, 0.5); 
}

.submit-btn {
    grid-column: 1 / -1; 
    display: block;
    width: 30%;
    padding: 15px;
    background-color: #2c3e50;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px; 
}

.submit-btn:hover {
    background-color: white;
    color: #2c3e50;
    border: 2px solid #2c3e50;
}

@media (max-width: 768px) {
    .form-main-layout {
        grid-template-columns: 1fr; 
        gap: 0;
    }
    
    .consulta-field {
        grid-column: 1; 
        margin-top: 20px;
    }
    

    .form-group-row {
        flex-direction: column;
        gap: 0; 
    }

    .form-group-row .form-field {
        margin-bottom: 20px;
    }
}