.header-container {
    display: grid;
    grid-template-columns: auto; 
    justify-content: start; 
    
    align-items: center;
    padding: 0.5rem 2rem;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 100;
    height: 5rem;
    text-align: left;
}

.header-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin: 0; 
}

.header-brand img {
    height: 4rem;
    width: auto;
}

.header-brand h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #343a40;
    text-align: left !important;
}

@media (max-width: var(--breakpoint-md-)) {
    .header-container {
        grid-template-columns: 1fr auto 1fr;
        justify-content: unset;
        grid-template-areas: ". brand ."
    }

    .header-brand {
        grid-area: brand;
        justify-content: center; 
        text-align: center;
    }
}