.footer-container {
  background-color: #f8f9fa;
  color: #343a40;
  text-align: center;
  padding: 1.5rem 1rem;
  margin-top: auto;
  /* Empuja el footer al final si el contenido es corto */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
}

.footer-container p {
  margin: 0;
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .footer-container {
    position: relative;
    padding: 1rem 1rem 6rem 1rem;
    bottom: 0;
  }
}