.item-list-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem 0;
  justify-items: center;
  width: 70%;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  .item-list-container {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    width: 100%;
    max-width: 1280px;
    padding: 2rem 0;
    margin: 2rem auto;
  }
}
